body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: xx-large;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
            max-width:800px;
            margin :0 auto;
            color:blue;
            font-family:cursive;
        }